nav {
    margin-bottom: 20px;
}

.inline {
    display: inline;
}

.page-header {
    padding-top: 20px;
    padding-bottom: 20px;
}

.comments {
    margin: 20px 0;
}

.reply-body {
    margin-top: 10px;
}

.sidebar {
    padding-left: 30px;
}

footer {
    margin-top: 30px;
    padding: 10px 0 40px;
    color: #999;
    border-top: 1px solid #e5e5e5;
}

.page-footer {
    padding-top: 40px;
}

.tip { /* from github.com */
    color: black !important;
    position: relative;
    padding: 40px;
    text-align: center;
    background-color: #fafbfc;
    border: 1px solid #e1e4e8;
    border-radius: 3px;
    box-shadow: inset 0 0 10px rgba(27, 31, 35, 0.05);
}
