{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_form %}

{% block title %}Manage Categories{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>Categories
            <small class="text-muted">{{ categories|length }}</small>
            <span class="float-right"><a class="btn btn-primary btn-sm"
                                         href="{{ url_for('.new_category') }}">New Category</a></span>
        </h1>
    </div>
    {% if categories %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>No.</th>
                <th>Name</th>
                <th>Posts</th>
                <th>Actions</th>
            </tr>
            </thead>
            {% for category in categories %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td><a href="{{ url_for('blog.show_category', category_id=category.id) }}">{{ category.name }}</a>
                    </td>
                    <td>{{ category.posts|length }}</td>
                    <td>
                        {% if category.id != 1 %}
                            <a class="btn btn-info btn-sm"
                               href="{{ url_for('.edit_category', category_id=category.id) }}">Edit</a>

                            <form class="inline" method="post"
                                  action="{{ url_for('.delete_category', category_id=category.id) }}">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                <button type="submit" class="btn btn-danger btn-sm"
                                        onclick="return confirm('Are you sure?');">Delete
                                </button>
                            </form>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
        <p class="text-muted">Tips: Deleting a category does not delete the article under that category.
            The articles under this category will be moved to the default category.</p>
    {% else %}
        <div class="tip"><h5>No categories.</h5></div>
    {% endif %}
{% endblock %}
